<html>
  <title><%= @title %></title>
  <body>
    <h1><%= @title %></h1>

    <!-- Welcome Message -->
    <%= @message %><br>
    <br>

    <!-- Menu -->
    <a href="/">Top</a><br>

  </body>
</html>
