<html>
  <title><%= @title %></title>
  <body>
    <h1><%= @title %></h1>
    <table border="1">
      <tr>
        <th>Idx</th>
        <th>AccessTime</th>
      </tr>
      <% 5.times do |idx| %>
        <tr>
          <td><%= (idx+1) %></td>
          <td><%= @logs[idx] %></td>
        </tr>
      <% end %>
    </table>
    <br>
    <a href="./">TopPage</a>
  </body>
</html>
