<html>
  <title><%= @title %></title>
  <body>
    <h1><%= @title %></h1>

    <!-- Welcome Message -->
    <% if @errMessage == "" then %>
      <%= @message %><br>
    <% else %>
      <font color="red"><%= @errMessage %></font><br>
    <% end %>

    <!-- Login Form -->
    <h3>Login Form</h3>
    <form action="/session" method="post">
      Name:
      <input type="text" name="name"><br>
      Password:
      <input type="password" name="password"><br>
      <input type="submit" value="login">
    </form>

    <!-- Regist Form -->
    <h3>Regist Form</h3>
    <form action="/regist" method="post">
      Name:
      <input type="text" name="name"><br>
      Password:
      <input type="password" name="password"><br>
      <input type="submit" value="regist">
    </form>

    <!-- Menu -->
    <a href="/">Top</a><br>
  </body>
</html>
